h1 {

}

body {
  background-image: linear-gradient(to right, rgba(255,204,0,0.7), rgba(0,82,255,0.75));  
}


button {
  background-color: white;
  color: rgb(128, 36, 36);
  font-size: 8px
  display: inline-block;
  padding: 8px 14px;
}
